<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaForm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finalStyles.css') }}">
</head>
<body>
    <h1>Final Project - Selenium Test</h1>
    <p><strong>Order Information</strong></p>
    <ul>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Phone</li>  
    </ul>
    <p><strong>Pizza Selection</strong></p>
    <ul>
        <li>Size</li>
        <li>Toppings:</li>
    </ul>
    <p><strong>Add Another Pizza</strong></p>
    
    <p><strong>Submit Order</strong></p>

    <p>Download Selenium file:</p>

    <a href="{{ url_for('static', filename='SeleniumTest.side') }}" download>Download Selenium Test</a>
    <br>
    <br>
    <nav>
        <a href="/">Back to Home</a>
    </nav>
</body>
</html>